.intro
  height: 498px
  padding: 1px
  background: url('~styles/img/header.jpg') -50%
  text-align: center

  .title
    width: 600px
    margin: 120px auto 70px
    color: #fff
    font: 700 72px ptserif

  .dash
    width: 150px
    border: none
    border-bottom: 1px solid rgba(255, 255, 255, .7)

.lang
  display: inline-block
  height: 30px
  margin: 5px 10px 0 0
  text-align: right
  font-size: 21px
  float: right
  cursor: pointer
  user-select: none

.content
  width: 800px
  margin: auto

  .description
    padding: 30px 80px
    border-bottom: 1px solid rgba(0, 0, 0, .1)
    font-size: 21px
    line-height: 1.4

