.player
  position: fixed
  bottom: 0
  right: 0
  transition: width .3s ease, height .3s ease

  &-buttons
    text-align: right

  &-button
    display: inline-block
    width: 30px
    height: 30px
    margin-left: 1px
    text-align: center
    vertical-align: bottom
    background-color: rgba(255, 255, 255, .75)
    box-sizing: border-box
    cursor: pointer
    user-select: none
    font-size: 20px

    &_maximize,
    &_close
      padding-top: 3px

    &_playing
      background-image: url('~styles/img/fire.gif')
      background-size: 80%
      background-position: 50%
      background-repeat: no-repeat
      cursor: default

