$border = 1px solid rgba(0, 0, 0, .1)

.release
  &-header
    position: relative
    margin-top: 80px

  &-cover
    display: inline-block
    width: 250px
    height: 250px
    background-size: contain

  &-meta
    width: 450px
    position: absolute
    left: 350px
    bottom: 0

  &-artist
    border-bottom: $border
    font-size: 60px
    font-weight: 400

  &-album
    margin-top: 12px
    font-size: 36px
    font-style: italic
    font-weight: 400

  &-content
    position: relative
    margin-top: 70px

  &-place
    display: inline-block
    position: absolute
    left: 0
    top: 0
    line-height: .9
    font-size: 72px
    font-weight: 700

  &-description
    display: inline-block
    margin-left: 160px
    font-size: 21px
    line-height: 1.4

  &-text
    white-space: pre-line

  &-play
    margin-top: 30px

  &-button
    display: inline-block
    width: 30px
    height: 30px
    margin-right: 5px
    text-align: center
    vertical-align: text-top
    cursor: pointer
    user-select: none

  &-delimiter
    width: 450px
    border: none
    border-bottom: $border
    margin: 80px auto 0
